@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="container text-center mt-5 mb-5">
    <h5 class="custom-text text-uppercase fw-bold">Create New Venue</h5>
</div>
<div class="container custom-bg shadow-lg">
    <div class="mb-5">
        <a href="javascript:history.back()" class="text-secondary text-decoration-none fw-bold">
            <i class="fa-solid fa-arrow-left me-1"></i> Go Back
        </a>
    </div>
    <form action="" class="ms-md-5">
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="typeName" class="form-label">Venue Name :</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="typeName" placeholder="Enter Venue Name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="sortOrder" class="form-label">Sort Order :</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="sortOrder" placeholder="Enter Sort Order">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <button type="button" class="btn btn-sm btn-golden text-uppercase fw-bold rounded-pill mb-3 w-100">
                    Create
                    New
                </button>
            </div>
        </div>

    </form>
