@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/custom-css/content.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />    

</head>
<body>
    <header>
        <div class="container sticky-top shadow-lg" style="background-color: #ffffffc3; height: 100px;">
            <div class="row align-items-center py-3 h-100">
                <div class="col-6 col-sm-6 col-md-6 d-flex justify-content-start align-items-center">
                    <img src="/imgs/ministry_logo.gif" alt="ministry_logo" class="img-fluid">
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <div class="row text-end text-sm-end text-md-start align-items-center">
                        <div class="col-12 col-sm-8 col-md-3 offset-md-7">
                            <div>
                                <span class="text-success">Welcome</span>
                                <span class="text-warning">User Name</span>
                            </div>
                            <div>
                                <a href="/admin"
                                   class="fs-6 fw-bold text-warning text-uppercase text-decoration-none">Admin</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-2">
                            <a href="#logout" class="btn btn-sm btn-red rounded-pill text-decoration-none fw-bold">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </header>

    <div>
        @RenderBody()
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/fontawesome/js/all.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
