@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="/Admin">Admin Dashboard</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                @* <li class="nav-item"><a class="nav-link" href="/Admin">Home</a></li> *@
                <li class="nav-item"><a class="nav-link" href="/Admin/Users">Users</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark"  asp-area="" asp-controller="Account" asp-action="Login">Logout</a>
                    </li>
            </ul>
        </div>
    </header>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2025 - Admin Panel</span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
