@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
<div class="container d-flex justify-content-center mt-5" style="height: 30px;">
    <h3 class="text-uppercase text-warning fw-bold">Welcome to Admin Panel</h3>
</div>
<div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 178px);">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="row justify-content-center w-100 h-md-200 mainNav">
            <div class="col-4 col-md-2 ">
                <a asp-action="Setup" asp-controller="Admin" class="btn w-100 h-100 position-relative">
                    <img src="/icon_svg/setup.svg" alt="" class="w-50 h-50 w-md-75 h-md-75">
                    <h5 class="text-uppercase fw-bold fs-6 fs-md-4">Setup</h5>
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a asp-action="Report" asp-controller="Admin" class="btn w-100 h-100 position-relative">
                    <img src="/icon_svg/reports.svg" alt="" class="w-50 h-50 w-md-75 h-md-75">
                    <h5 class="text-uppercase fw-bold fs-6 fs-md-4">Reports</h5>
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a asp-action="RemarkType" asp-controller="Admin" class="btn w-100 h-100 position-relative">
                    <img src="/icon_svg/remark_type.svg" alt="" class="w-50 h-50 w-md-75 h-md-75">
                    <h5 class="text-uppercase fw-bold fs-6 fs-md-4">NoteSheet Remark Type</h5>
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a asp-action="OfficeLetter" asp-controller="Admin" class="btn w-100 h-100 position-relative">
                    <img src="/icon_svg/office_letter.svg" alt=""
                         class="w-50 h-50 w-md-75 h-md-75">
                    <h5 class="text-uppercase fw-bold fs-6 fs-md-4">Office Letter</h5>
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a asp-action="Logs" asp-controller="Admin" class="btn w-100 h-100 position-relative">
                    <img src="/icon_svg/log.svg" alt="" class="w-50 h-50 w-md-75 h-md-75">
                    <h5 class="text-uppercase fw-bold fs-6 fs-md-4">Logs</h5>
                </a>
            </div>
        </div>
    </div>
</div>
