@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="container custom-bg mt-5">
    <div class="mb-5">
        <a href="javascript:history.back()" class="text-secondary text-decoration-none fw-bold">
            <i class="fa-solid fa-arrow-left me-1"></i> Go Back
        </a>
    </div>

    <div class="text-center mb-5">
        <h5 class="text-dark text-uppercase fw-bold">
            <i class="fa-solid fa-file-zipper fs-5 px-2"></i>Archived Report Categories
        </h5>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <form action="" class="mb-5 ms-md-5">
                <div class="row mb-3 justify-content-start">
                    <div class="col-sm-2 text-dark fw-bold fs-6">
                        <label for="Name" class="form-label">Search by :</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm" style="font-size: 14px; line-height: 1.5rem;"
                                id="department">
                            <option selected>All Department</option>
                            <option value="1">ပြည်ထောင်စုဝန်ကြီးရုံး</option>
                            <option value="2">ကုန်သွယ်ရေးဦးစီးဌာန</option>
                            <option value="3">စားသုံးသူရေးရာဦးစီးဌာန</option>
                            <option value="4">မူပိုင်ခွင့်ဦးစီးဌာန</option>
                            <option value="5">မြန်မာကုန်သွယ်မှုမြှင့်တင်ရေးအဖွဲ့ </option>
                            <option value="6">eLibrary</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-sm-2">
                        <button type="button" class="btn btn-sm btn-golden text-uppercase fw-bold rounded-3">
                            <i class="fa-solid fa-magnifying-glass fs-6"></i>Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Section
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="No.">1</td>
                    <td data-label="Name">
                        ဝန်ကြီးဌာန/ အဖွဲ့အစည်းများ၏ ဖွဲ့စည်းပုံအင်အား၊ ခန့်ထားအင်အားနှင့်
                        လစာစရိတ်စာရင်း
                    </td>
                    <td data-label="Section">အုပ်ချုပ်ရေးနှင့်လူ့အရင်းအမြစ်စီမံခန့်ခွဲမှုဌာနခွဲ</td>
                    <td data-label="Department">ပြည်ထောင်စုဝန်ကြီးရုံး</td>
                    <td data-label="Action">
                        <div class="action">
                            <a href="#" class="btn btn-gold btn-sm fw-bold rounded-pill me-1">
                                <i class="fa-solid fa-file-export fs-5"></i>Sent to Report
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="No.">2</td>
                    <td data-label="Name">
                        ဝန်ကြီးဌာန/ အဖွဲ့အစည်းများ၏ ဖွဲ့စည်းပုံအင်အား၊ ခန့်ထားအင်အားနှင့်
                        လစာစရိတ်စာရင်း
                    </td>
                    <td data-label="Section">အုပ်ချုပ်ရေးနှင့်လူ့အရင်းအမြစ်စီမံခန့်ခွဲမှုဌာနခွဲ</td>
                    <td data-label="Department">ပြည်ထောင်စုဝန်ကြီးရုံး</td>
                    <td data-label="Action">
                        <div class="action">
                            <a href="#" class="btn btn-gold btn-sm fw-bold rounded-pill me-1">
                                <i class="fa-solid fa-file-export fs-5"></i>Sent to Report
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="No.">3</td>
                    <td data-label="Name">
                        ဝန်ကြီးဌာန/ အဖွဲ့အစည်းများ၏ ဖွဲ့စည်းပုံအင်အား၊ ခန့်ထားအင်အားနှင့်
                        လစာစရိတ်စာရင်း
                    </td>
                    <td data-label="Section">အုပ်ချုပ်ရေးနှင့်လူ့အရင်းအမြစ်စီမံခန့်ခွဲမှုဌာနခွဲ</td>
                    <td data-label="Department">ပြည်ထောင်စုဝန်ကြီးရုံး</td>
                    <td data-label="Action">
                        <div class="action">
                            <a href="#" class="btn btn-gold btn-sm fw-bold rounded-pill me-1">
                                <i class="fa-solid fa-file-export fs-5"></i>Sent to Report
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-label="No.">4</td>
                    <td data-label="Name">
                        ဝန်ကြီးဌာန/ အဖွဲ့အစည်းများ၏ ဖွဲ့စည်းပုံအင်အား၊ ခန့်ထားအင်အားနှင့်
                        လစာစရိတ်စာရင်း
                    </td>
                    <td data-label="Section">အုပ်ချုပ်ရေးနှင့်လူ့အရင်းအမြစ်စီမံခန့်ခွဲမှုဌာနခွဲ</td>
                    <td data-label="Department">ပြည်ထောင်စုဝန်ကြီးရုံး</td>
                    <td data-label="Action">
                        <div class="action">
                            <a href="#" class="btn btn-gold btn-sm fw-bold rounded-pill me-1">
                                <i class="fa-solid fa-file-export fs-5"></i>Sent to Report
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div>
    @await Html.PartialAsync("_AdminFooter")
</div>