@model MOCDEMSNEW.Models.ViewModel.LoginWithTwoFactorViewModel
@{
    Layout = "_LoginWithTwoFactorLayout";
    ViewData["Title"] = "LoginWithTwoFactor";
}

<h3 class="text-center mb-5 text-black fw-bold"> <span><i class="fa-solid fa-right-to-bracket custom-icon fs-4"></i></span> Login With Two Factor</h3>

<form asp-action="LoginWithTwoFactor" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="UserId" type="hidden" />
    <input asp-for="RememberMe" type="hidden" />

    <div class="row mb-3 justify-content-end justify-content-md-center">
        <div class="col-12 col-md-5">
            <label asp-for="TwoFactorCode" class="form-label">Authenticator Code</label>
        </div>
        <div class="col-12 col-md-7">
            <input asp-for="TwoFactorCode"
                   class="form-control"
                   autocomplete="one-time-code"
                   placeholder="Enter 6-digit code" />
        </div>
        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-7 offset-md-5">
            <button type="submit" class="btn btn-sm btn-golden fw-bold text-uppercase rounded-pill w-100">
                Verify
            </button>
        </div>
    </div>
</form>
