@model MOCDEMSNEW.Models.ViewModel.LoginWithTwoFactorViewModel
@{
    Layout = "_LoginWithTwoFactorLayout";
    ViewData["Title"] = "LoginWithTwoFactor";
}

<h1>LoginInWithTwoFactor</h1>

<form asp-action="LoginWithTwoFactor" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="UserId" type="hidden" />
    <input asp-for="RememberMe" type="hidden" />

    <div class="form-group">
        <label asp-for="TwoFactorCode" class="form-label">Authenticator Code</label>
        <input asp-for="TwoFactorCode"
               class="form-control"
               autocomplete="one-time-code"
               placeholder="Enter 6-digit code" />
        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <button type="submit" class="btn btn-primary w-100 mt-3">Verify</button>
</form>
