@model MOCDEMSNEW.Models.ViewModel.LoginViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="row w-100" style="background-color: #003399;">
    <div class="col-12 p-3">
        <img src="~/imgs/login/ministry_logo.gif" alt="Ministry Logo">
    </div>
</div>

<div class="row w-100 custom-bg p-5 align-items-center login-height">
    <form asp-action="Login" method="post" class="col-12 col-md-6 order-2 order-md-1">
        <div class="row mb-3 justify-content-end justify-content-md-center">
            <div class="col-12 col-md-3">
                <label asp-for="Email" class="fw-bold fs-5">Email</label>
            </div>
            <div class="col-12 col-md-8">
                <input asp-for="Email" class="form-control shadow-lg" placeholder="Enter Your Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3 justify-content-center">
            <div class="col-12 col-md-3">
                <label asp-for="Password" class="fw-bold fs-5">Password</label>
            </div>
            <div class="col-12 col-md-8">
                <input asp-for="Password" type="password" class="form-control shadow-lg" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="RememberMe" value="false" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 offset-md-3">
                <button type="submit" class="btn btn-sm btn-golden fw-bold text-uppercase rounded-pill w-100">
                    Login
                </button>
            </div>
        </div>
    </form>

    <div class="col-12 col-md-6 text-center mb-3 mb-md-0 order-1 order-md-2">
        <img src="~/imgs/login/moc_logo.gif" alt="MOC Logo" />
    </div>
</div>

<div class="row w-100" style="background-color: #316ac5;">
    <div class="col-12 col-md-6 text-center">
        <img src="~/imgs/login/unp.gif" alt="">
    </div>
    <div class="col-12 col-md-6 text-center">
        <img src="~/imgs/login/link2intranet.gif" alt="">
    </div>
</div>

<div class="row w-100 mb-3">
    <span class="text-center" style="color:#316ac5;">
        Powered by <span class="text-warning fw-bold fs-5">Shwe Digit</span>
    </span>
</div>

<div class="row">
    <div class="col-12 text-start text-md-center">
        <img src="~/imgs/login/warning.jpg" alt="" class="w-100">
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
